@import "../style.scss";

.rental-property-container {
  display: flex;
  flex-direction: column;
  gap: 4rem;

  @include set-head-size();
  @include reset-heading-margin();
  @include share-result();

  .operating-statement-container {
    display: flex;
    gap: 2rem;
    
    @media screen and (max-width: 1024px) {
      flex-direction: column;
      align-items: center;
    }

    .card {
      &-input {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 1rem;

        @include input-container();

        .input-container {
          input {
            min-width: 18rem;
          }

          @media screen and (max-width: 1200px) {
            input {
              min-width: 24rem;
            }
          }

          @media screen and (max-width: 768px) {
            input {
              min-width: 95%;
            }
          }

          @media screen and (max-width: 420px) {
            input {
              min-width: 88%;
            }
          }
        }

        .row {
          width: 100%;
          @include flex-row();
          align-items: center;
          justify-content: space-between;
          background: lighten($secondaryColor, 42%);
          padding: 0.5rem;
          border-radius: 0.5rem;
          @media screen and (max-width: 768px) {
            h4 {
              font-size: 0.8rem;
            }
          }
        }

        &-operating-statement, &-operating-expenses {
          max-width: 48rem;
          width: 100%;
          min-height: 15rem;
          padding: 0.75rem 1rem;
          border-style: solid;
          border-width: 4px 0;
          border-color: lighten($secondaryColor, 25%);
          border-top-right-radius: 0.75rem;
          box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.25);
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          gap: 1rem;

          @media screen and (max-width: 768px) {
            border-top-left-radius: 0.75rem;
          }

          @media screen and (max-width: 1200px) {
            min-width: unset;
            max-width: unset;
          }

          @media screen and (max-width: 1024px) {
            max-width: 100%;
          }

          .input-flex-wrap {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 0.5rem;
          }
        }
      }

      &-result {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: space-between;
        gap: 1rem;
        max-width: 24rem;
        width: 100%;
        border-style: solid;
        border-width: 4px 0;
        border-color: lighten($primaryColor, 25%);
        border-top-right-radius: 0.75rem;
        background-color: lighten($secondaryColor, 49%);
        box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.25);

        @media screen and (max-width: 1024px) {
          min-width: 100%;
        }
  
        @media screen and (max-width: 768px) {
          border-top-left-radius: 0.75rem;
        }

        .head {
          padding: 1rem 0 0 1rem;
        }

        &-inner {
          height: 100%;
          padding: 0 1rem;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          gap: 0.5rem;

          .row {
            @include flex-row();
            justify-content: space-between;
          }
        }

        @include cap-rate();
      }
    }
  }

  .investment-financing-data-container {
    display: flex;
    gap: 2rem;

    @media screen and (max-width: 1024px) {
      flex-direction: column;
      align-items: center;
    }

    .card {
      &-input {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 1rem;

        @include input-container();

        .input-container {
          input {
            min-width: 18rem;
          }

          @media screen and (max-width: 1200px) {
            input {
              min-width: 24rem;
            }
          }

          @media screen and (max-width: 768px) {
            input {
              min-width: 95%;
            }
          }

          @media screen and (max-width: 420px) {
            input {
              min-width: 88%;
            }
          }
        }

        .row {
          width: 100%;
          @include flex-row();
          align-items: center;
          justify-content: space-between;
          background: lighten($secondaryColor, 42%);
          padding: 0.5rem;
          border-radius: 0.5rem;
          @media screen and (max-width: 768px) {
            h4 {
              font-size: 0.8rem;
            }
          }
        }

        &-investment, &-financing {
          max-width: 48rem;
          width: 100%;
          min-height: 12rem;
          padding: 0.75rem 1rem;
          border-style: solid;
          border-width: 4px 0;
          border-color: lighten($secondaryColor, 25%);
          border-top-right-radius: 0.75rem;
          box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.25);
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          gap: 1rem;

          @media screen and (max-width: 768px) {
            border-top-left-radius: 0.75rem;
          }

          @media screen and (max-width: 1200px) {
            min-width: unset;
            max-width: unset;
          }

          @media screen and (max-width: 1024px) {
            max-width: 100%;
          }

          .input-flex-wrap {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 0.5rem;
          }
        }

        &-investment {
          input {
            width: calc(100% - 2rem);
          }
        }

        &-financing {
          min-height: 18rem;
        }
      }

      &-result {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: space-between;
        gap: 1rem;
        max-width: 24rem;
        width: 100%;
        border-style: solid;
        border-width: 4px 0;
        border-color: lighten($primaryColor, 25%);
        border-top-right-radius: 0.75rem;
        background-color: lighten($secondaryColor, 49%);
        box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.25);

        @media screen and (max-width: 1024px) {
          min-width: 100%;
        }
  
        @media screen and (max-width: 768px) {
          border-top-left-radius: 0.75rem;
        }

        .head {
          padding: 1rem 0 0 1rem;
        }

        &-inner {
          height: 100%;
          padding: 0 1rem;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          gap: 0.5rem;

          .row {
            @include flex-row();
            justify-content: space-between;
          }
        }

        @include cap-rate();
      }
    }
  }
}