@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@400;500;600;700&display=swap');

$primaryColor: #1E73BE;
$secondaryColor: #7C7C7C;
$contrastHead: #111111;
$contrastSubHead: #444444;
$headSize: 1.5em;
$subHeadSize: 1.2em;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Assistant', sans-serif;
}

@mixin flex-row() {
  display: flex;
  flex-direction: row;
}

@mixin input-container() {
  .input-container {
    position: relative;

    @media screen and (max-width: 768px) {
      width: 100%;
    }

    .required {
      position: relative;

      &::after {
        content: '*';
        position: absolute;
        top: -2px;
        right: -10px;
        color: tomato;
      }
    }

    input {
      min-width: 20rem;
      padding: 0.5rem 1.5rem;
      border: 1px solid lighten($secondaryColor, 20%);
      border-radius: 0.5rem;
      outline: none;
      font-size: 1rem;

      @media screen and (max-width: 1200px) {
        min-width: 18rem;
      }
        
      @media screen and (max-width: 1024px) {
        min-width: 24rem;
      }

      @media screen and (max-width: 768px) {
        min-width: 100%;
      }

      &:focus, &:hover {
        border-color: $primaryColor;
        box-shadow: 0px 1px 4px 1px lighten($primaryColor, 45%);
      }
    }
    /* Hide Arrows/Spinners */
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }
    /* Firefox */
    input[type=number] {
      -moz-appearance: textfield;
    }

    .error-label {
      color: tomato;
      font-size: 0.75rem;
    }
  }

  .dollar::before {
    content: '$';
    position: absolute;
    left: 14px;
    top: 35px;
  }

  .percent::after {
    content: '%';
    position: absolute;
    right: 20px;
    top: 35px;
  }
}

@mixin toggle-switch() {
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    
    input {
      opacity: 0;
      width: 0;
      height: 0;
    }
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  
    &::before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }
  } 
  
  input:checked + .slider {
    background-color: lighten($primaryColor, 25%);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px lighten($primaryColor, 25%);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  .round {
    border-radius: 34px;
    &::before {
    border-radius: 50%;
    }
  }
}

@mixin cap-rate() {
  .cap-rate {
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    border-top-right-radius: 1.5rem;
    background-color: lighten($primaryColor, 50%);
    @media screen and (max-width: 768px) {
      h3 {
        font-size: 1.25rem;
      }
    }
  }
}

nav {
  box-shadow: 1px 1px 8px 2px rgba(0, 0, 0, 0.75);
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  min-height: 90vh;
  padding: 75px 20px 180px;
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  gap: 4rem;

  h3 {
    color: $contrastHead;
    font-size: $headSize;
    font-weight: 700;
  }

  label, p {
    color: $contrastSubHead;
    font-size: $subHeadSize;
    font-weight: 400;
  }

  .simple-ratio-container {
    @include flex-row();
    gap: 2rem;

    @media screen and (max-width: 1024px) {
      flex-direction: column;
      align-items: center;
    }

    .inputs {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;

      @include input-container();

      .row {
        width: 100%;
        @include flex-row();
        justify-content: space-between;
        background: lighten($secondaryColor, 42%);
        padding: 0.5rem;
        border-radius: 0.5rem;
        @media screen and (max-width: 768px) {
          h4 {
            font-size: 0.75rem;
          }
        }
      }

      .property-value {
        width: 100%;
        @include flex-row();
        gap: 1rem;
        
        @media screen and (max-width: 1200px) {
          flex-direction: column;
          align-items: center;
        }
        
        &-inner {
          max-width: 24rem;
          min-width: 24rem;
          width: 100%;
          padding: 0.75rem 1rem;
          border-style: solid;
          border-width: 4px 0;
          border-color: lighten($secondaryColor, 25%);
          border-top-right-radius: 0.75rem;
          box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.25);
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          gap: 0.5rem;

          @media screen and (max-width: 768px) {
            border-top-left-radius: 0.75rem;
          }

          .input-wrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 0.5rem;
          }

          @media screen and (max-width: 1200px) {
            min-width: unset;
            max-width: unset;
          }

          @media screen and (max-width: 1024px) {
            max-width: 95%;
          }
        }

        &-left {
         background-color: lighten($secondaryColor, 49%);
        }

        &-right {
          background-color: lighten($secondaryColor, 49%);;
        }
      }

      .operating-expenses {
        max-width: 49rem;
        padding: 0.75rem 1rem;
        border-style: solid;
        border-width: 4px 0;
        border-color: lighten($secondaryColor, 25%);
        border-top-right-radius: 0.75rem;
        box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.25);
        background-color: lighten($secondaryColor, 49%);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 0.5rem;

        @media screen and (max-width: 1024px) {
          max-width: 95%;
        }

        @media screen and (max-width: 768px) {
          border-top-left-radius: 0.75rem;
        }

        &-inner {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          gap: 0.5rem;
        }
      }
    }

    .result {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      max-width: 24rem;
      min-width: 21rem;
      min-height: 41.7rem;
      border-style: solid;
      border-width: 4px 0;
      border-color: lighten($primaryColor, 25%);
      border-top-right-radius: 0.75rem;
      background-color: lighten($secondaryColor, 49%);
      box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.25);

      @media screen and (max-width: 1200px) {
        min-width: 24rem;
        max-height: 50.7rem;
      }

      @media screen and (max-width: 1024px) {
        min-width: 95%;
        min-height: 0;
        max-height: 100%;
      }

      @media screen and (max-width: 768px) {
        border-top-left-radius: 0.75rem;
      }
      
      &-inner {
        height: 88%;
        padding: 1rem;
        border-top-right-radius: 0.75rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        .card {
          margin-top: 1rem;
          display: flex;
          flex-direction: column;
          gap: 0.75rem;


  
          .row {
            @include flex-row();
            justify-content: space-between;
  
            h4 {
              font-size: 1rem;
              font-weight: 600;
            }
          }
        }
      }
    
      @include cap-rate();
      .cap-rate {
        height: 10%;
      }
    }
  }

  .band-of-investment-container {
    .cards {
      @include flex-row();
      align-items: center;
      justify-content: space-between;
      gap: 2rem;

      @media screen and (max-width: 1024px) {
        flex-direction: column;
      }

      .card {
        &-input, &-result {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          gap: 0.75rem;
          max-width: 48rem;
          min-width: 21rem;
          width: 100%;
          height: 33.6rem;
          border-style: solid;
          border-width: 4px 0;
          border-top-right-radius: 0.75rem;
          background-color: lighten($secondaryColor, 49%);
          box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.25);
        
          @media screen and (max-width: 1024px) {
            min-width: 95%;
            width: 95%;
            height: 37rem;
          }
          
          @media screen and (max-width: 768px) {
            border-top-left-radius: 0.75rem;
          }
        }
        
        &-input {
          padding: 1rem;
          border-color: lighten($secondaryColor, 25%);
          
          @include input-container();
          
          .loan-term-container {
            display: flex;
            flex-wrap: wrap;
            align-items: flex-end;
            justify-content: space-between;
            gap: 0.5rem;
            
            .toggle-container {
              display: flex;
              align-items: center;
              gap: 0.5rem;
              @include toggle-switch();
            }
            
          }

          input {
            width: 100%;
          }

          .row {
            width: 100%;
            @include flex-row();
            justify-content: space-between;
            background: lighten($secondaryColor, 42%);
            padding: 0.5rem;
            border-radius: 0.5rem;
          }
        }
        
        &-result {
          &-head {
            padding: 1rem 1rem 0;
          }
          
          &-inner {
            padding: 1rem;
            height: 65%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            
            .row {
              @include flex-row();
              justify-content: space-between;
    
              h4 {
                font-size: 1rem;
                font-weight: 600;
              }
            }
          }

          border-color: lighten($primaryColor, 25%);
          @include cap-rate();
        }
      }
    }
  }

  .gordon-model-container {
    display: flex;

    @media screen and (max-width: 1024px) {
      justify-content: center;
    }
      
    .card {
      max-width: 28rem;
      min-width: 21rem;
      min-height: 25.6rem;
      border-style: solid;
      border-width: 4px 0;
      border-color: lighten($primaryColor, 25%);
      border-top-right-radius: 0.75rem;
      background-color: lighten($secondaryColor, 49%);
      box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.25);
      
      @media screen and (max-width: 1024px) {
        min-width: 95%;
      }

      @media screen and (max-width: 768px) {
        border-top-left-radius: 0.75rem;
      }
      
      &-inner {
        padding: 1rem;
         
        h3 {
           margin-bottom: 1rem;
        }

        &-input {
          display: flex;
          flex-direction: column;
          gap: 1rem;

          @include input-container();

          input {
            width: 100%;
          }
        }
      }

      &-result {
        @include cap-rate();
        background-color: lighten($primaryColor, 50%);
        border-top-right-radius: 1rem;
      }
    }
  }
}