@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Assistant', sans-serif;
}

nav {
  -webkit-box-shadow: 1px 1px 8px 2px rgba(0, 0, 0, 0.75);
          box-shadow: 1px 1px 8px 2px rgba(0, 0, 0, 0.75);
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container {
  min-height: 90vh;
  padding: 75px 20px 180px;
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4rem;
}

.container h3 {
  color: #111111;
  font-size: 1.5em;
  font-weight: 700;
}

.container label, .container p {
  color: #444444;
  font-size: 1.2em;
  font-weight: 400;
}

.container .simple-ratio-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 2rem;
}

@media screen and (max-width: 1024px) {
  .container .simple-ratio-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.container .simple-ratio-container .inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.container .simple-ratio-container .inputs .input-container {
  position: relative;
  /* Hide Arrows/Spinners */
  /* Chrome, Safari, Edge, Opera */
  /* Firefox */
}

@media screen and (max-width: 768px) {
  .container .simple-ratio-container .inputs .input-container {
    width: 100%;
  }
}

.container .simple-ratio-container .inputs .input-container .required {
  position: relative;
}

.container .simple-ratio-container .inputs .input-container .required::after {
  content: '*';
  position: absolute;
  top: -2px;
  right: -10px;
  color: tomato;
}

.container .simple-ratio-container .inputs .input-container input {
  min-width: 20rem;
  padding: 0.5rem 1.5rem;
  border: 1px solid #afafaf;
  border-radius: 0.5rem;
  outline: none;
  font-size: 1rem;
}

@media screen and (max-width: 1200px) {
  .container .simple-ratio-container .inputs .input-container input {
    min-width: 18rem;
  }
}

@media screen and (max-width: 1024px) {
  .container .simple-ratio-container .inputs .input-container input {
    min-width: 24rem;
  }
}

@media screen and (max-width: 768px) {
  .container .simple-ratio-container .inputs .input-container input {
    min-width: 100%;
  }
}

.container .simple-ratio-container .inputs .input-container input:focus, .container .simple-ratio-container .inputs .input-container input:hover {
  border-color: #1E73BE;
  -webkit-box-shadow: 0px 1px 4px 1px #cbe2f7;
          box-shadow: 0px 1px 4px 1px #cbe2f7;
}

.container .simple-ratio-container .inputs .input-container input::-webkit-outer-spin-button,
.container .simple-ratio-container .inputs .input-container input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.container .simple-ratio-container .inputs .input-container input[type=number] {
  -moz-appearance: textfield;
}

.container .simple-ratio-container .inputs .dollar::before {
  content: '$';
  position: absolute;
  left: 14px;
  top: 35px;
}

.container .simple-ratio-container .inputs .percent::after {
  content: '%';
  position: absolute;
  right: 20px;
  top: 35px;
}

.container .simple-ratio-container .inputs .row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #e7e7e7;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.container .simple-ratio-container .inputs .property-value {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1rem;
}

@media screen and (max-width: 1200px) {
  .container .simple-ratio-container .inputs .property-value {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.container .simple-ratio-container .inputs .property-value-inner {
  max-width: 24rem;
  min-width: 24rem;
  width: 100%;
  padding: 0.75rem 1rem;
  border-style: solid;
  border-width: 4px 0;
  border-color: #bcbcbc;
  border-top-right-radius: 0.75rem;
  -webkit-box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.25);
          box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0.5rem;
}

@media screen and (max-width: 768px) {
  .container .simple-ratio-container .inputs .property-value-inner {
    border-top-left-radius: 0.75rem;
  }
}

.container .simple-ratio-container .inputs .property-value-inner .input-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0.5rem;
}

@media screen and (max-width: 1200px) {
  .container .simple-ratio-container .inputs .property-value-inner {
    min-width: unset;
    max-width: unset;
  }
}

@media screen and (max-width: 1024px) {
  .container .simple-ratio-container .inputs .property-value-inner {
    max-width: 95%;
  }
}

.container .simple-ratio-container .inputs .property-value-left {
  background-color: #f9f9f9;
}

.container .simple-ratio-container .inputs .property-value-right {
  background-color: #f9f9f9;
}

.container .simple-ratio-container .inputs .operating-expenses {
  max-width: 49rem;
  padding: 0.75rem 1rem;
  border-style: solid;
  border-width: 4px 0;
  border-color: #bcbcbc;
  border-top-right-radius: 0.75rem;
  -webkit-box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.25);
          box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.25);
  background-color: #f9f9f9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 0.5rem;
}

@media screen and (max-width: 1024px) {
  .container .simple-ratio-container .inputs .operating-expenses {
    max-width: 95%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .container .simple-ratio-container .inputs .operating-expenses {
    border-top-left-radius: 0.75rem;
  }
}

.container .simple-ratio-container .inputs .operating-expenses-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0.5rem;
}

.container .simple-ratio-container .result {
  max-width: 24rem;
  min-width: 21rem;
  height: 28rem;
  border-style: solid;
  border-width: 4px 0;
  border-color: #73b1e9;
  border-top-right-radius: 0.75rem;
  -webkit-box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.25);
          box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 1200px) {
  .container .simple-ratio-container .result {
    min-width: 24rem;
  }
}

@media screen and (max-width: 1024px) {
  .container .simple-ratio-container .result {
    min-width: 95%;
  }
}

@media screen and (max-width: 768px) {
  .container .simple-ratio-container .result {
    border-top-left-radius: 0.75rem;
  }
}

.container .simple-ratio-container .result-inner {
  height: 80%;
  padding: 1rem;
  border-top-right-radius: 0.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #f9f9f9;
}

.container .simple-ratio-container .result-inner .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.75rem;
}

.container .simple-ratio-container .result-inner .card .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .simple-ratio-container .result-inner .card .row h4 {
  font-size: 1.125rem;
  font-weight: 600;
}

.container .simple-ratio-container .result-inner .card .deduce {
  color: tomato;
}

.container .simple-ratio-container .result-inner .card .net-income {
  color: limegreen;
}

.container .simple-ratio-container .result .cap-rate {
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem 1rem;
  border-top-right-radius: 1.5rem;
  background-color: #e1eefa;
}

.container .band-of-investment-container .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2rem;
}

@media screen and (max-width: 1024px) {
  .container .band-of-investment-container .cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.container .band-of-investment-container .cards .card-input, .container .band-of-investment-container .cards .card-result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0.75rem;
  max-width: 48rem;
  min-width: 21rem;
  width: 100%;
  height: 33.6rem;
  border-style: solid;
  border-width: 4px 0;
  border-top-right-radius: 0.75rem;
  background-color: #f9f9f9;
  -webkit-box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.25);
          box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 1024px) {
  .container .band-of-investment-container .cards .card-input, .container .band-of-investment-container .cards .card-result {
    min-width: 95%;
    width: 95%;
  }
}

@media screen and (max-width: 768px) {
  .container .band-of-investment-container .cards .card-input, .container .band-of-investment-container .cards .card-result {
    border-top-left-radius: 0.75rem;
  }
}

.container .band-of-investment-container .cards .card-input {
  padding: 1rem;
  border-color: #bcbcbc;
}

.container .band-of-investment-container .cards .card-input .input-container {
  position: relative;
  /* Hide Arrows/Spinners */
  /* Chrome, Safari, Edge, Opera */
  /* Firefox */
}

@media screen and (max-width: 768px) {
  .container .band-of-investment-container .cards .card-input .input-container {
    width: 100%;
  }
}

.container .band-of-investment-container .cards .card-input .input-container .required {
  position: relative;
}

.container .band-of-investment-container .cards .card-input .input-container .required::after {
  content: '*';
  position: absolute;
  top: -2px;
  right: -10px;
  color: tomato;
}

.container .band-of-investment-container .cards .card-input .input-container input {
  min-width: 20rem;
  padding: 0.5rem 1.5rem;
  border: 1px solid #afafaf;
  border-radius: 0.5rem;
  outline: none;
  font-size: 1rem;
}

@media screen and (max-width: 1200px) {
  .container .band-of-investment-container .cards .card-input .input-container input {
    min-width: 18rem;
  }
}

@media screen and (max-width: 1024px) {
  .container .band-of-investment-container .cards .card-input .input-container input {
    min-width: 24rem;
  }
}

@media screen and (max-width: 768px) {
  .container .band-of-investment-container .cards .card-input .input-container input {
    min-width: 100%;
  }
}

.container .band-of-investment-container .cards .card-input .input-container input:focus, .container .band-of-investment-container .cards .card-input .input-container input:hover {
  border-color: #1E73BE;
  -webkit-box-shadow: 0px 1px 4px 1px #cbe2f7;
          box-shadow: 0px 1px 4px 1px #cbe2f7;
}

.container .band-of-investment-container .cards .card-input .input-container input::-webkit-outer-spin-button,
.container .band-of-investment-container .cards .card-input .input-container input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.container .band-of-investment-container .cards .card-input .input-container input[type=number] {
  -moz-appearance: textfield;
}

.container .band-of-investment-container .cards .card-input .dollar::before {
  content: '$';
  position: absolute;
  left: 14px;
  top: 35px;
}

.container .band-of-investment-container .cards .card-input .percent::after {
  content: '%';
  position: absolute;
  right: 20px;
  top: 35px;
}

.container .band-of-investment-container .cards .card-input .loan-term-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0.5rem;
}

.container .band-of-investment-container .cards .card-input .loan-term-container .toggle-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
}

.container .band-of-investment-container .cards .card-input .loan-term-container .toggle-container .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.container .band-of-investment-container .cards .card-input .loan-term-container .toggle-container .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.container .band-of-investment-container .cards .card-input .loan-term-container .toggle-container .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.container .band-of-investment-container .cards .card-input .loan-term-container .toggle-container .slider::before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.container .band-of-investment-container .cards .card-input .loan-term-container .toggle-container input:checked + .slider {
  background-color: #73b1e9;
}

.container .band-of-investment-container .cards .card-input .loan-term-container .toggle-container input:focus + .slider {
  -webkit-box-shadow: 0 0 1px #73b1e9;
          box-shadow: 0 0 1px #73b1e9;
}

.container .band-of-investment-container .cards .card-input .loan-term-container .toggle-container input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  transform: translateX(26px);
}

.container .band-of-investment-container .cards .card-input .loan-term-container .toggle-container .round {
  border-radius: 34px;
}

.container .band-of-investment-container .cards .card-input .loan-term-container .toggle-container .round::before {
  border-radius: 50%;
}

.container .band-of-investment-container .cards .card-input input {
  width: 100%;
}

.container .band-of-investment-container .cards .card-input .row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #e7e7e7;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.container .band-of-investment-container .cards .card-result {
  border-color: #73b1e9;
}

.container .band-of-investment-container .cards .card-result-head {
  padding: 1rem 1rem 0;
}

.container .band-of-investment-container .cards .card-result-inner {
  padding: 1rem;
  height: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.container .band-of-investment-container .cards .card-result-inner .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .band-of-investment-container .cards .card-result-inner .row h4 {
  font-size: 1.125rem;
  font-weight: 600;
}

.container .band-of-investment-container .cards .card-result .cap-rate {
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem 1rem;
  border-top-right-radius: 1.5rem;
  background-color: #e1eefa;
}

.container .gordon-model-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1024px) {
  .container .gordon-model-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.container .gordon-model-container .card {
  max-width: 28rem;
  min-width: 21rem;
  min-height: 25.6rem;
  border-style: solid;
  border-width: 4px 0;
  border-color: #73b1e9;
  border-top-right-radius: 0.75rem;
  background-color: #f9f9f9;
  -webkit-box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.25);
          box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 1024px) {
  .container .gordon-model-container .card {
    min-width: 95%;
  }
}

@media screen and (max-width: 768px) {
  .container .gordon-model-container .card {
    border-top-left-radius: 0.75rem;
  }
}

.container .gordon-model-container .card-inner {
  padding: 1rem;
}

.container .gordon-model-container .card-inner h3 {
  margin-bottom: 1rem;
}

.container .gordon-model-container .card-inner-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

.container .gordon-model-container .card-inner-input .input-container {
  position: relative;
  /* Hide Arrows/Spinners */
  /* Chrome, Safari, Edge, Opera */
  /* Firefox */
}

@media screen and (max-width: 768px) {
  .container .gordon-model-container .card-inner-input .input-container {
    width: 100%;
  }
}

.container .gordon-model-container .card-inner-input .input-container .required {
  position: relative;
}

.container .gordon-model-container .card-inner-input .input-container .required::after {
  content: '*';
  position: absolute;
  top: -2px;
  right: -10px;
  color: tomato;
}

.container .gordon-model-container .card-inner-input .input-container input {
  min-width: 20rem;
  padding: 0.5rem 1.5rem;
  border: 1px solid #afafaf;
  border-radius: 0.5rem;
  outline: none;
  font-size: 1rem;
}

@media screen and (max-width: 1200px) {
  .container .gordon-model-container .card-inner-input .input-container input {
    min-width: 18rem;
  }
}

@media screen and (max-width: 1024px) {
  .container .gordon-model-container .card-inner-input .input-container input {
    min-width: 24rem;
  }
}

@media screen and (max-width: 768px) {
  .container .gordon-model-container .card-inner-input .input-container input {
    min-width: 100%;
  }
}

.container .gordon-model-container .card-inner-input .input-container input:focus, .container .gordon-model-container .card-inner-input .input-container input:hover {
  border-color: #1E73BE;
  -webkit-box-shadow: 0px 1px 4px 1px #cbe2f7;
          box-shadow: 0px 1px 4px 1px #cbe2f7;
}

.container .gordon-model-container .card-inner-input .input-container input::-webkit-outer-spin-button,
.container .gordon-model-container .card-inner-input .input-container input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.container .gordon-model-container .card-inner-input .input-container input[type=number] {
  -moz-appearance: textfield;
}

.container .gordon-model-container .card-inner-input .dollar::before {
  content: '$';
  position: absolute;
  left: 14px;
  top: 35px;
}

.container .gordon-model-container .card-inner-input .percent::after {
  content: '%';
  position: absolute;
  right: 20px;
  top: 35px;
}

.container .gordon-model-container .card-inner-input input {
  width: 100%;
}

.container .gordon-model-container .card-result {
  background-color: #e1eefa;
  border-top-right-radius: 1rem;
}

.container .gordon-model-container .card-result .cap-rate {
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem 1rem;
  border-top-right-radius: 1.5rem;
  background-color: #e1eefa;
}
/*# sourceMappingURL=style.css.map */