@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@400;500;600;700&display=swap');

$primaryColor: #1E73BE;
$secondaryColor: #7C7C7C;
$contrastHead: #111111;
$contrastSubHead: #444444;
$headSize: 1.5em;
$subHeadSize: 1.2em;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Assistant', sans-serif;
}

@mixin flex-row() {
  display: flex;
  flex-direction: row;
}

nav {
  box-shadow: 1px 1px 8px 2px rgba(0, 0, 0, 0.75);
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  min-height: 90vh;
  padding: 75px 20px 180px;
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto;
  @include flex-row();

  h3 {
    color: $contrastHead;
    font-size: $headSize;
    font-weight: 700;
  }

  label, p {
    color: $contrastSubHead;
    font-size: $subHeadSize;
    font-weight: 400;
  }

  .simple-ratio-container {
    @include flex-row();
    gap: 2rem;

    .inputs {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .input-container {
        position: relative;

        input {
          min-width: 16rem;
          padding: 0.5rem 1.5rem;
          border: 1px solid lighten($secondaryColor, .8);
          border-radius: 0.5rem;
          outline: none;
          font-size: 1rem;

          &:focus, &:hover {
            border-color: $primaryColor;
          }
        }
        /* Hide Arrows/Spinners */
        /* Chrome, Safari, Edge, Opera */
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
          -webkit-appearance: none;
        }
        /* Firefox */
        input[type=number] {
          -moz-appearance: textfield;
        }
      }

      .dollar::before {
        content: '$';
        position: absolute;
        left: 14px;
        top: 35px;
      }

      .percent::after {
        content: '%';
        position: absolute;
        right: 105px;
        top: 35px;
      }

      .row {
        @include flex-row();
        justify-content: space-between;
      }

      .property-value {
        @include flex-row();
        gap: 1rem;
        
        &-inner {
          max-width: 24rem;
          padding: 0.75rem 1rem;
          border-style: solid;
          border-width: 4px 0;
          border-color: lighten($secondaryColor, 25%);
          border-top-right-radius: 0.75rem;
          box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.25);
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          gap: 0.5rem;
        }

        &-left {
         background-color: transparent;
        }

        &-right {
          background-color: transparent;
        }
      }

      .operating-expenses {
        max-width: 49rem;
        padding: 0.75rem 1rem;
        border-style: solid;
        border-width: 4px 0;
        border-color: lighten($secondaryColor, 25%);
        border-top-right-radius: 0.75rem;
        box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.25);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 0.5rem;

        &-inner {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          gap: 0.5rem;
        }
      }
    }

    .result {
      max-width: 24rem;
      min-width: 21rem;
      height: 22rem;
      border-style: solid;
      border-width: 4px 0;
      border-color: lighten($primaryColor, 25%);
      border-top-right-radius: 0.75rem;
      box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.25);
      
      &-inner {
        height: 80%;
        padding: 1rem;
        border-top-right-radius: 0.75rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: #F3F4F5;

        .card {
          display: flex;
          flex-direction: column;
          gap: 1rem;
  
          .row {
            @include flex-row();
            justify-content: space-between;
  
            h4 {
              font-size: 1.125rem;
              font-weight: 600;
            }
          }

          .deduce {
            color: tomato;
          }

          .net-income {
            color: limegreen;
          }
        }
      }
    
      .cap-rate {
        height: 20%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem 1rem;
        border-top-right-radius: 1rem;
        background-color: lighten($primaryColor, 50%);
      }
    }
  }
}