@import "../style.scss";

.simple-ratio-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .simple-ratio-cards {
    @include flex-row();
    align-items: stretch;
    gap: 2rem;

    @media screen and (max-width: 1024px) {
      flex-direction: column;
      align-items: center;
    }

    .inputs {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      @include input-container();

      .row {
        width: 100%;
        @include flex-row();
        align-items: center;
        justify-content: space-between;
        background: lighten($secondaryColor, 42%);
        padding: 0.5rem;
        border-radius: 0.5rem;
        @media screen and (max-width: 768px) {
          h4 {
            font-size: 0.75rem;
          }
        }
      }

      .property-value {
        width: 100%;
        @include flex-row();
        gap: 1rem;
        
        @media screen and (max-width: 1200px) {
          flex-direction: column;
          align-items: center;
        }
        
        &-inner {
          max-width: 24rem;
          min-width: 24rem;
          width: 100%;
          padding: 0.75rem 1rem;
          border-style: solid;
          border-width: 4px 0;
          border-color: lighten($secondaryColor, 25%);
          border-top-right-radius: 0.75rem;
          box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.25);
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          gap: 0.5rem;

          @media screen and (max-width: 768px) {
            border-top-left-radius: 0.75rem;
          }

          .input-flex-wrap {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 0.5rem;
          }

          @media screen and (max-width: 1200px) {
            min-width: unset;
            max-width: unset;
          }

          @media screen and (max-width: 1024px) {
            max-width: 100%;
          }
        }

        &-left {
        background-color: lighten($secondaryColor, 49%);
        }

        &-right {
          background-color: lighten($secondaryColor, 49%);;
        }
      }

      .operating-expenses {
        max-width: 49rem;
        padding: 0.75rem 1rem;
        border-style: solid;
        border-width: 4px 0;
        border-color: lighten($secondaryColor, 25%);
        border-top-right-radius: 0.75rem;
        box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.25);
        background-color: lighten($secondaryColor, 49%);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 0.5rem;

        @media screen and (max-width: 1024px) {
          max-width: 100%;
        }

        @media screen and (max-width: 768px) {
          border-top-left-radius: 0.75rem;
        }

        &-inner {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          gap: 0.5rem;
        }
      }
    }

    .result {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: space-between;
      max-width: 24rem;
      min-width: 21rem;
      min-height: 36.7rem;
      border-style: solid;
      border-width: 4px 0;
      border-color: lighten($primaryColor, 25%);
      border-top-right-radius: 0.75rem;
      background-color: lighten($secondaryColor, 49%);
      box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.25);

      @media screen and (max-width: 1200px) {
        min-width: 24rem;
      }

      @media screen and (max-width: 1024px) {
        min-width: 100%;
      }

      @media screen and (max-width: 768px) {
        border-top-left-radius: 0.75rem;
      }
      
      &-inner {
        height: 100%;
        padding: 1rem;
        border-top-right-radius: 0.75rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        .card {
          height: 100%;
          margin-top: 1rem;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          gap: 0.75rem;

          .row {
            @include flex-row();
            justify-content: space-between;

            h4 {
              font-size: 1rem;
              font-weight: 600;
            }
          }
        }
      }
    
      @include cap-rate();
    }
  }

  @include share-result();
}