@import "../style.scss";

.rule-of-72-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  @include set-head-size();
  @include reset-heading-margin();

    
    .card {
      @include flex-row();
      justify-content: space-between;
      gap: 2rem;
  
      @media screen and (max-width: 1024px) {
        flex-direction: column;
      }

      &-input, &-result {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;
        gap: 0.75rem;
        max-width: 48rem;
        min-width: 21rem;
        width: 100%;
        min-height: 16rem;
        border-style: solid;
        border-width: 4px 0;
        border-top-right-radius: 0.75rem;
        background-color: lighten($secondaryColor, 49%);
        box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.25);
      
        @media screen and (max-width: 1024px) {
          min-width: 100%;
        }
        
        @media screen and (max-width: 768px) {
          border-top-left-radius: 0.75rem;
        }
      }
      
      &-input {
        padding: 1rem;
        border-color: lighten($secondaryColor, 25%);
        
        @include input-container();

        input {
          width: 100%;
        }

        select {
          padding: 0.5rem;
          width: 100%;
          background: lighten($secondaryColor, 42%);
          border: none;
          border-radius: 0.5rem;
          &:focus {
            outline: 1px solid lighten($primaryColor, 25%);
          }
        }
        
        .row {
          width: 100%;
          @include flex-row();
          align-items: center;
          justify-content: space-between;
          background: lighten($secondaryColor, 42%);
          padding: 0.5rem;
          border-radius: 0.5rem;
        }

        .hide {
          display: none!important;
        }
      }

      &-result {
        &-head {
          padding: 1rem 1rem 0;
        }
        
        &-inner {
          padding: 1rem;
          min-height: 13rem;
          height: 100%;
          display: flex;
          flex-direction: column;
          gap: 0.4rem;

          .row {
            @include flex-row();
            justify-content: space-between;
            min-height: 44px;
          }

          
          &-head, &-container {
            justify-content: flex-start;

            h4 {
              width: 33.33%;
              border: 1px solid lighten($primaryColor, 45%);
              padding: 0.5rem;
              overflow: auto;
            }
          }

          &-head {
            display: flex;
            background-color: lighten($primaryColor, 48%);
          }

          &-container {
            overflow-y: scroll;
            max-height: 15rem;
          }
        }
  
        border-color: lighten($primaryColor, 25%);
        @include cap-rate();
      }
    }
  

  @include share-result();
}