@import "../style.scss";

.dynamic-mirr-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  @include set-head-size();
  @include reset-heading-margin();

  .cards {
    @include flex-row();
    justify-content: space-between;
    gap: 2rem;

    @media screen and (max-width: 1024px) {
      flex-direction: column;
    }

    .card {
      &-input, &-result {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;
        gap: 0.75rem;
        max-width: 48rem;
        min-width: 21rem;
        width: 100%;
        min-height: 16rem;
        border-style: solid;
        border-width: 4px 0;
        border-top-right-radius: 0.75rem;
        background-color: lighten($secondaryColor, 49%);
        box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.25);
      
        @media screen and (max-width: 1024px) {
          min-width: 100%;
        }
        
        @media screen and (max-width: 768px) {
          border-top-left-radius: 0.75rem;
        }
      }
      
      &-input {
        padding: 1rem;
        border-color: lighten($secondaryColor, 25%);
        
        @include input-container();

        input {
          width: 100%;
        }

        .col {
          display: flex;
          flex-direction: column;
          gap: 1rem;
        }

        .copy-down-icon {
          width: 1.5rem;
          aspect-ratio: 1;
          cursor: pointer;
          color: lighten($primaryColor, 30%);
          opacity: 0;
          &:hover {
            color: lighten($primaryColor, 25%);
          }
        }

        .input-container:hover .copy-down-icon {
          opacity: 1;
        }
        
        .cash-flow-container {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          gap: 0.5rem;

          .input-container {
            display: flex;
            align-items: center;
            justify-content: space-around;
            gap: 1rem;
          }
        }
      }

      &-result {
        &-head {
          padding: 1rem 1rem 0;
        }
        
        &-inner {
          padding: 1rem;
          min-height: 13rem;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          gap: 0.4rem;

          .row {
            @include flex-row();
            justify-content: space-between;
            min-height: 44px;
          }

          .resultant-cash-flow {
            &-head, &-container {
              justify-content: flex-start;

              h4 {
                width: 50%;
                border: 1px solid lighten($primaryColor, 45%);
                padding: 0.5rem;
                overflow: auto;
              }
            }

            &-head {
              display: flex;
              background-color: lighten($primaryColor, 48%);
            }
          }
        }
  
        border-color: lighten($primaryColor, 25%);
        
        @include cap-rate();
        
        .cap-rate:last-child, .cap-rate:nth-child(2), .cap-rate:nth-child(3) {
          border-top-right-radius: 0;
        }
      }
    }
  }

  @include share-result();
}